<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./layout.css">
</head>

<body>
    <div class="wrap">
        <div class="header">
            <h2>Logo</h2>
            <p>Github &nbsp; &nbsp;Regist &nbsp; &nbsp;Login</p>
        </div>
        <div class="photo">
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul>
        </div>
        <div class="nav">
            <ul>
                <li>HOME</li>
                <li>PROFILE</li>
                <li>ABOUT</li>
            </ul>
            <div class="zhebu"></div>
        </div>

        <div class="main">
            <div class="biao1">
                <div class="biao2">This is Content 1</div>
                <div class="biao3">MaybeContent 2</div>
                <div class="biao4">Content 3</div>
            </div>
            <div class="biao5">
                <div class="biao6">Content4</div>
                <div class="biao7">Content5</div>
                <div class="biao8">Content6</div>
                <div class="biao9">Content7</div>
            </div>
            <div class="biao10">
                <div class="biao11">Content8</div>
                <div class="biao12">Content9</div>
                <div class="biao13">Content10</div>
            </div>
        </div>
        <div class="footer">
            <p>@ 2018 life.baidu.com</p>
        </div>
    </div>
</body>

</html>